div.css-kkmhuw.e1tzin5v0 {
    background-color: #250b0e;
    border: 2px solid #fafafa;
    padding: 5% 5% 5% 10%;
    border-radius: 15px;
    text-align: left;
}

div.css-50ug3q.e16fv1kl3 p {
    font-size: 17px;
    margin-left: 20px;
}
div.css-1xarl3l.e16fv1kl1 {
    margin-left: 30px;
    font-size: 30px;
}
   